*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-100:#f8f9fa;
    --gray-200:#e9ecef;
    --gray-300:#dee2e6;
    --gray-400:#ced4da;
    --gray-500:#adb5bd;
    --gray-600:#6c757d;
    --gray-700:#495057;
    --gray-800:#343a40;
    --gray-900:#212529;
    --menu-color:rgba(255,255,255,.55);
}

.navbar-expand-lg.navbar-dark{
    background-color: var(--gray-700) !important;
}

.navbar-brand-h1{
    color: var(--gray-200);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.navbar img{
    width: 80px;
    margin-right: 1rem;
    padding: 1rem 0;
}

.navbar .navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out
}

.navbar-dark .navbar-nav{
    text-align: center;
}

.navbar .navbar-nav a:last-child{
    color:#009349
}

/** Descuento **/



.discount-container{
    padding-top: 4.5vh;
    width:70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.card{
    width: 30%;
    min-width: 300px;
    border-style: groove;
    align-items: center;
}

.card p{
    color: var(--gray-600);
}
/** Formulario **/

.form-title{
    text-align: center;
}

.form-title h6{
    margin-top: 1rem;
    margin-bottom: 0;
}

.form-title .underline{
    text-decoration: underline dotted var(--gray-800);
}

.form-container{
    width: 50vw;
    margin: auto;

}

.form-control{
    padding: 1rem;
    margin-top: 0.5rem;
}

/**.col p{
    margin: 0.5rem 0;
}*/

.display{
    width: 100%;
    margin: 1rem 0;
    padding: 0.4rem 0;
    font-size: 1.2rem;
    background-color: #Add8e6;
    color:  #0072A0;
    border-radius: 10px;
    border: none;
}

.display p{
    margin:auto;
    margin-left: 1rem;
}

.btn-formulario{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
    font-size: 1.2rem;
    background-color: #39e75f;
    color: var(--gray-100);
    border-radius: 10px;
    border: none;
}

.btn-submit:hover{
    background-color: rgba(10,131,36,0.8);
    color: var(--gray-400);
    transition: 0.5s;
}

/**Footer*/

.footer{
    background-image:linear-gradient(to right, #004d7a, #008793);
}

.footer .footer-container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-container a{

    text-decoration: none;
    color: var(--gray-200);
    padding: 3rem 0;
    width: 100px;
    text-align: center;
}
.footer .footer-container a:hover{
    color: var(--gray-500)
}